*, *::after, *::before { box-sizing: border-box; }

img { display: block; width: 100%; height: auto; }

.logo img { width: 120px; }

.footer__logo { width: 80px; }

a { color: inherit; text-decoration: none; }

ul { list-style: none; }

body { background-color: #fff; color: #454545; font-family: 'Merriweather Sans', sans-serif; line-height: 1.6; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; line-height: 1.4; }

.title.title--sec { font-size: 45px; font-weight: 700; line-height: 70px; text-align: center; margin-bottom: 70px; position: relative; }

section { overflow-y: hidden; margin: 0 auto; }

.container { display: block; max-width: 900px; margin: 0 auto; }

.container--article { display: block; max-width: 700px; margin: 0 auto; }

.content-text-white { color: #fff; }

.logo { display: inline-block; }

.display-flex-col { display: flex; flex-direction: column; }

.title-screen { background-image: url(../images/title-screen-bg.jpg); background-repeat: no-repeat; background-size: cover; background-position: center bottom 15vh; background-attachment: fixed; height: 120vh; position: relative; text-align: center; padding-top: 50px; }
.title-screen .logo-container { text-align: center; }

.title-screen__content { background-color: #1e1e1e; min-height: 50vh; position: absolute; bottom: 0; left: 0; right: 0; pointer-events: none; }

.title-screen__title-wrapper { z-index: 5; max-width: 900px; margin: 0 auto; }

.title--main { font-size: 70px; font-weight: 700; margin-bottom: 20px; position: relative; bottom: 1.2em; text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25); }

.title-screen__descr { line-height: 1.6; font-size: 16px; position: relative; bottom: 60px; max-width: 480px; margin: 0 auto; }

.navigation { background-color: #8a8a8a; margin-bottom: 75px; position: relative; z-index: 10; }

.navigation .navigation__list { display: flex; justify-content: space-between; align-items: center; height: 80px; }

.navigation .navigation__list .navigation__item { color: #0c0c0c; }
.navigation .navigation__list .navigation__item:hover { color: white; }

.navigation__controls-input { appearance: none; -webkit-appearance: none; position: absolute; top: 0; left: 0; visibility: hidden; }

.navigation__controls-label { display: none; width: 100%; text-align: center; background-color: #1e1e1e; color: white; padding: 15px; cursor: pointer; }

.travel { position: relative; padding-bottom: 50px; }

.travel__content { position: relative; z-index: 10; }

.content-image, .textblock { margin-bottom: 30px; }

.content-image { box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2); }

.discount { background-image: url(../images/discount-bg.jpg); background-repeat: no-repeat; background-size: cover; background-position: center top; min-height: 500px; padding-top: 50px; padding-bottom: 30px; text-align: center; text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5); }

.discount .title--sec { margin-bottom: 10px; }

.discount__subtitle { font-size: 18px; margin-bottom: 50px; position: relative; }

.discount__flex-container { display: flex; justify-content: space-between; }

.discount__item { display: flex; flex-direction: column; position: relative; }

.discount__percent { font-size: 45px; font-weight: 700; }

.discount__discount { font-size: 25px; font-weight: 700; }

.discount__description { font-size: 18px; }

.pricing { position: relative; padding-top: 50px; padding-bottom: 200px; }

.pricing__item, .pricing .title--sec { position: relative; z-index: 10; }

.pricing__flex-container { display: flex; justify-content: center; flex-wrap: wrap; gap: 20px; }

.pricing__item { background-color: #fff; box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2); min-height: 450px; flex: 1 0 calc(100%/4); display: flex; flex-direction: column; align-items: center; justify-content: start; text-align: center; }

.pricing__title { background-color: #1e1e1e; color: #fff; font-size: 2em; font-weight: 700; line-height: 60px; min-height: 60px; width: 100%; margin-bottom: 30px; }

.pricing__descr-wrapper { padding: 0px 20px; margin-bottom: auto; }

.pricing__cost { font-size: 2em; font-weight: 700; padding-top: 15px; padding-bottom: 15px; }

.cta-button--pricing { background-color: #aaaaaa; border: none; color: transparent; outline: none; font-size: 30px; font-family: inherit; font-weight: 800; text-transform: uppercase; text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.8); background-clip: text; -webkit-background-clip: text; margin-bottom: 30px; padding-top: 30px; position: relative; transition: all 0.3s ease; cursor: pointer; }

.cta-button--pricing:hover { background-color: #d33a29; text-shadow: 0px 3px 5px rgba(239, 156, 147, 0.5); }

.housing { background-image: url(../images/michal-prucha-qVKLnAbqZ_0-unsplash.jpg); background-repeat: no-repeat; background-size: cover; background-position-x: center; height: 800px; padding: 300px 0px 50px; text-align: center; position: relative; overflow-y: hidden; }

.housing *:not(.housing-label) { position: relative; z-index: 10; }

.housing .title--sec { margin-bottom: 200px; }

.housing__text { margin-bottom: 30px; }

.housing .cta-button--fade { border-bottom: 2px solid #d33a29; display: block; margin: 0 auto; width: fit-content; padding: 1em 2em; background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); transition: background-image 0.2s ease; }
.housing .cta-button--fade:hover { background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)); }

.testimonials { padding-top: 100px; padding-bottom: 180px; }

.testimonials__flex-container { display: flex; justify-content: space-between; gap: 20px; }

.testimonials__item { background-color: #fff; border-bottom: 3px solid transparent; box-sizing: content-box; box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2); min-height: 350px; padding: 55px 20px 30px; display: flex; flex-direction: column; justify-content: start; position: relative; flex: 1 1 calc(100%/3); }
.testimonials__item:hover { border-bottom: 3px solid #d33a29; }
.testimonials__item .testimonials__photo { border-radius: 999px; height: 75px; width: auto; display: block; position: absolute; top: 0; left: 0; transform: translate(-50%, -50%); }
.testimonials__item .testimonials__textblock { margin-bottom: auto; }
.testimonials__item .testimonials__author { padding-top: 30px; }

.title-label { position: absolute; left: calc(50% - 510px); top: 0; z-index: 1; }
.title-label img { object-fit: cover; object-position: bottom center; width: 260px; max-height: 110vh; margin-bottom: 20px; }
.title-label .travel-label, .title-label .pricing-label, .title-label .housing-label { z-index: -1; }

.socials { display: flex; justify-content: space-around; gap: 0px 15px; }
.socials a img { width: auto; max-height: 30px; }
.socials a img:hover { filter: brightness(0.5); }

.title-descr__socials { display: none; }

.footer { background-image: url(../images/lorenzo-marucchi-OjptmsicSMI-unsplash\ 1.jpg); background-color: #1e1e1e; background-repeat: no-repeat; background-size: contain; padding-top: 350px; padding-left: 15%; padding-right: 15%; position: relative; }

.footer__flex-container { display: flex; justify-content: start; margin-bottom: 50px; flex-wrap: wrap; }

.footer__logo { position: relative; bottom: 50px; margin-right: 100px; }

.footer__navigation-menu { flex: 0 1 auto; display: flex; flex-wrap: nowrap; }

.footer__navigation-list { margin-right: 150px; }

.footer__navigation-list li { margin-bottom: 1.5em; }
.footer__navigation-list li a:hover { color: #d33a29; }

.footer__socials { margin-left: auto; align-items: flex-end; }

.footer__seeyou { color: #595959; font-size: 2em; font-weight: 700; padding-bottom: 50px; text-align: center; text-transform: uppercase; width: 100%; }

.section-shadowbox { box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 1024px) { .title-label { display: none; }
  .title-descr__socials { display: flex; flex-direction: row; justify-content: center; gap: 0px 20px; margin-bottom: 50px; }
  .title--main { font-size: 50px; }
  .title.title--sec { font-size: 30px; line-height: 45px; } }
@media screen and (max-width: 768px) { .pricing__flex-container, .testimonials__flex-container { flex-direction: column; flex-wrap: nowrap; }
  .testimonials__item { min-height: 200px; }
  .footer__logo { margin-right: 70px; }
  .footer__navigation-list { margin-right: 50px; }
  .title.title--sec { font-size: 22px; line-height: 26px; } }
@media screen and (max-width: 768px), (max-height: 700px) { .title--main { font-size: 38px; }
  .logo img { max-width: 80px; } }
@media screen and (max-height: 450px) { .title-screen { height: 150vh; background-position: center bottom 25vh; }
  .title-screen__content { min-height: 15vh; }
  .logo img { max-height: 70px; width: auto; } }
@media screen and (max-width: 430px) { body { font-size: 14px; }
  .title-screen { background-position: center bottom 30vh; }
  .title--main { font-size: 30px; margin-bottom: 45px; }
  .title-screen__descr { font-size: 14px; }
  .housing .title.title--sec { margin-bottom: 100px; }
  .container, .container--article, .title-screen__title-wrapper { padding: 0px 25px; }
  .testimonials__item { margin-bottom: 50px; }
  .testimonials__item .testimonials__photo { position: absolute; left: 50%; transform: translate(-50%, -50%); }
  .discount__flex-container { flex-direction: column; gap: 30px 0px; } }
@media screen and (max-width: 900px) and (min-width: 426px) { .container, .container--article { padding: 0px 50px; } }
@media screen and (max-width: 767px) { .navigation { max-height: 0px; transition: max-height 0.3s ease-in; overflow: hidden; }
  .navigation .navigation__list { flex-direction: column; flex-wrap: nowrap; align-items: center; gap: 1.6em; height: fit-content; padding: 15px 0px; }
  .navigation__controls-label { display: block; height: 50px; }
  .navigation__controls-label i { font-size: 30px; transition: transform 0.3s ease; }
  .navigation__controls-input:checked ~ .navigation { max-height: 1000px; }
  .navigation__controls-input:checked + .navigation__controls-label i { transform: rotate(-180deg); } }
.textblock, .title--main, .title--sec, .title-label, .content-image { opacity: 0; }

@keyframes anim-text-keyf { from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0px); } }
@keyframes anim-label-keyf { from { opacity: 0; transform: translateY(-30px); }
  to { opacity: 1; transform: translateY(0px); } }
@keyframes anim-article-image-keyf { from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; } }
.anim-text { animation: anim-text-keyf 0.8s ease-out both; }

.anim-label { animation: anim-label-keyf 0.8s ease-out both; }

.anim-article-image { animation: anim-article-image-keyf 0.8s ease-out both; }
